<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<array>
          <string>ANT</string>
    
    
          <string>BEAR</string>
    
    
          <string>BEE</string>
    
    
          <string>BIRD</string>
    
    
          <string>CAMEL</string>
    
    
          <string>CAT</string>
    
    
          <string>CHEETAH</string>
    
    
          <string>CHICKEN</string>
    
    
          <string>CHIMPANZEE</string>
    
    
          <string>COW</string>
    
    
          <string>CROCODILE</string>
    
    
          <string>DEER</string>
    
    
          <string>DOG</string>
    
    
          <string>DOLPHIN</string>
    
    
          <string>DUCK</string>
    
    
          <string>EAGLE</string>
    
    
          <string>ELEPHANT</string>
    
    
          <string>FISH</string>
    
    
          <string>FLY</string>
    
    
          <string>FOX</string>
    
    
          <string>FROG</string>
    
    
          <string>GIRAFFE</string>
    
    
          <string>GOAT</string>
    
    
          <string>GOLDFISH</string>
    
    
          <string>HAMSTER</string>
    
    
          <string>HIPPOPOTAMUS</string>
    
    
          <string>HORSE</string>
    
    
          <string>KANGAROO</string>
    
    
          <string>KITTEN</string>
    
    
          <string>LEOPARD</string>
    
    
          <string>LION</string>
    
    
          <string>LIZARD</string>
    
    
          <string>LOBSTER</string>
    
    
          <string>MONKEY</string>
    
    
          <string>OCTOPUS</string>
    
    
          <string>OSTRICH</string>
    
    
          <string>OTTER</string>
    
    
          <string>OWL</string>
    
    
          <string>OYSTER</string>
    
    
          <string>PANDA</string>
    
    
          <string>PARROT</string>
    
    
          <string>PELICAN</string>
    
    
          <string>PIG</string>
    
    
          <string>PIGEON</string>
    
    
          <string>PORCUPINE</string>
    
    
          <string>PUPPY</string>
    
    
          <string>RABBIT</string>
    
    
          <string>RAT</string>
    
    
          <string>REINDEER</string>
    
    
          <string>RHINOCEROS</string>
    
    
          <string>ROOSTER</string>
    
    
          <string>SCORPION</string>
    
    
          <string>SEAL</string>
    
    
          <string>SHARK</string>
    
    
          <string>SHEEP</string>
    
    
          <string>SHRIMP</string>
    
    
          <string>SNAIL</string>
    
    
          <string>SNAKE</string>
    
    
          <string>SPARROW</string>
    
    
          <string>SPIDER</string>
    
    
          <string>SQUID</string>
    
    
          <string>SQUIRREL</string>
    
    
          <string>SWALLOW</string>
    
    
          <string>SWAN</string>
    
    
          <string>TIGER</string>
    
    
          <string>TOAD</string>
    
    
          <string>TORTOISE</string>
    
    
          <string>TURTLE</string>
    
    
          <string>VULTURE</string>
    
    
          <string>WALRUS</string>
    
    
          <string>WEASEL</string>
    
    
          <string>WHALE</string>
    
    
          <string>WOLF</string>
    
    
          <string>ZEBRA</string>
    
</array>
</plist>
