<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<array>
          <string>PINOCCHIO</string>
    
    
          <string>FANTASIA</string>
    
    
          <string>DUMBO</string>
    
    
          <string>BAMBI</string>
    
    
          <string>SALUDOS AMIGOS</string>
    
    
          <string>THE THREE CABALLEROS</string>
    
    
          <string>MAKE MINE MUSIC</string>
    
    
          <string>FUN AND FANCY FREE</string>
    
    
          <string>MELODY TIME</string>
    
    
          <string>THE ADVENTURES OF ICHABOD AND MR TOAD</string>
    
    
          <string>CINDERELLA</string>
    
    
          <string>ALICE IN WONDERLAND</string>
    
    
          <string>PETER PAN</string>
    
    
          <string>LADY AND THE TRAMP</string>
    
    
          <string>SLEEPING BEAUTY</string>
    
    
          <string>ONE HUNDRED AND ONE DALMATIANS</string>
    
    
          <string>THE SWORD IN THE STONE</string>
    
    
          <string>THE JUNGLE BOOK</string>
    
    
          <string>THE ARISTOCATS</string>
    
    
          <string>ROBIN HOOD</string>
    
    
          <string>THE MANY ADVENTURES OF WINNIE THE POOH</string>
    
    
          <string>THE RESCUERS</string>
    
    
          <string>THE FOX AND THE HOUND</string>
    
    
          <string>THE BLACK CAULDRON</string>
    
    
          <string>THE GREAT MOUSE DETECTIVE</string>
    
    
          <string>THE LITTLE MERMAID</string>
    
    
          <string>THE RESCUERS DOWN UNDER</string>
    
    
          <string>BEAUTY AND THE BEAST</string>
    
    
          <string>ALADDIN</string>
    
    
          <string>THE LION KING</string>
    
    
          <string>POCAHONTAS</string>
    
    
          <string>THE HUNCHBACK OF NOTRE DAME</string>
    
    
          <string>HERCULES</string>
    
    
          <string>MULAN</string>
    
    
          <string>TARZAN</string>
    
    
          <string>TREASURE PLANET</string>
    
    
          <string>BROTHER BEAR</string>
    
    
          <string>HOME ON THE RANGE</string>
    
    
          <string>CHICKEN LITTLE</string>
    
    
          <string>MEET THE ROBINSONS</string>
    
    
          <string>BOLT</string>
    
    
          <string>THE PRINCESS AND THE FROG</string>
    
    
          <string>TANGLED</string>
    
    
          <string>WINNIE THE POOH</string>
    
    
          <string>FROZEN</string>
    
    
          <string>ZOOTOPIA</string>
    
    
          <string>MOANA</string>
    
</array>
</plist>
