<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<array>
          <string>BALLOT</string>
    
    
          <string>BALLOT BOX</string>
    
    
          <string>CAMPAIGN</string>
    
    
          <string>CANDIDATE</string>
    
    
          <string>CAUCUS</string>
    
    
          <string>CHOOSE</string>
    
    
          <string>CONGRESS</string>
    
    
          <string>CONSTITUTION</string>
    
    
          <string>CONVENTION</string>
    
    
          <string>COUNT</string>
    
    
          <string>DELEGATE</string>
    
    
          <string>DEMOCRACY</string>
    
    
          <string>DEMOCRAT</string>
    
    
          <string>ELECT</string>
    
    
          <string>ELECTION</string>
    
    
          <string>ELECTOR</string>
    
    
          <string>ELECTORAL COLLEGE</string>
    
    
          <string>ELECTORATE</string>
    
    
          <string>EXECUTIVE BRANCH</string>
    
    
          <string>EXIT POLL</string>
    
    
          <string>FRONT RUNNER</string>
    
    
          <string>GENERAL ELECTION</string>
    
    
          <string>GERRYMANDER</string>
    
    
          <string>INCUMBENT</string>
    
    
          <string>INDEPENDENT</string>
    
    
          <string>ISSUES</string>
    
    
          <string>LEGISLATIVE BRANCH</string>
    
    
          <string>LOBBYIST</string>
    
    
          <string>LOSE</string>
    
    
          <string>LOSER</string>
    
    
          <string>MAJORITY</string>
    
    
          <string>MAYOR</string>
    
    
          <string>MIDTERM ELECTIONS</string>
    
    
          <string>MINORITY</string>
    
    
          <string>NEGATIVE ADS</string>
    
    
          <string>OFFICIALS</string>
    
    
          <string>OPEN PRIMARY</string>
    
    
          <string>PARTY</string>
    
    
          <string>PLATFORM</string>
    
    
          <string>PLURALITY</string>
    
    
          <string>POLITICAL</string>
    
    
          <string>POLITICS</string>
    
    
          <string>POLITICIAN</string>
    
    
          <string>POLL</string>
    
    
          <string>POPULAR VOTE</string>
    
    
          <string>PRECINCT</string>
    
    
          <string>PROMISES</string>
    
    
          <string>PRESIDENT</string>
    
    
          <string>PRIMARY</string>
    
    
          <string>PROTEST VOTE</string>
    
    
          <string>RECOUNT</string>
    
    
          <string>REDISTRICTING</string>
    
    
          <string>REFERENDUM</string>
    
    
          <string>REPRESENT</string>
    
    
          <string>REPUBLICAN</string>
    
    
          <string>RUNOFF</string>
    
    
          <string>SENATOR</string>
    
    
          <string>SPEECHES</string>
    
    
          <string>STANCE</string>
    
    
          <string>STRAW VOTE</string>
    
    
          <string>SUFFRAGE</string>
    
    
          <string>SUPER DELEGATE</string>
    
    
          <string>SUPER TUESDAY</string>
    
    
          <string>SWING VOTE</string>
    
    
          <string>TALLY</string>
    
    
          <string>TERM LIMITS</string>
    
    
          <string>THIRD PARTY</string>
    
    
          <string>TOWN MEETING</string>
    
    
          <string>US CONSTITUTION</string>
    
    
          <string>VOTE</string>
    
    
          <string>VOTER</string>
    
    
          <string>VOTING BOOTH</string>
    
    
          <string>VOTING MACHINE</string>
    
    
          <string>WIN</string>
    
    
          <string>WINNER</string>
    
</array>
</plist>
