<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<array>
          <string>ALASKA </string>
    
    
          <string>ARIZONA </string>
    
    
          <string>ARKANSAS </string>
    
    
          <string>CALIFORNIA </string>
    
    
          <string>COLORADO </string>
    
    
          <string>CONNECTICUT </string>
    
    
          <string>DELAWARE </string>
    
    
          <string>FLORIDA </string>
    
    
          <string>GEORGIA </string>
    
    
          <string>HAWAII </string>
    
    
          <string>IDAHO </string>
    
    
          <string>INDIANA </string>
    
    
          <string>ILLINOIS</string>
    
    
          <string>IOWA </string>
    
    
          <string>KANSAS </string>
    
    
          <string>KENTUCKY </string>
    
    
          <string>LOUISIANA </string>
    
    
          <string>MAINE </string>
    
    
          <string>MARYLAND </string>
    
    
          <string>MASSACHUSETTS </string>
    
    
          <string>MICHIGAN </string>
    
    
          <string>MINNESOTA </string>
    
    
          <string>MISSISSIPPI </string>
    
    
          <string>MISSOURI </string>
    
    
          <string>MONTANA </string>
    
    
          <string>NEBRASKA </string>
    
    
          <string>NEVADA </string>
    
    
          <string>NEW HAMPSHIRE </string>
    
    
          <string>NEW JERSEY </string>
    
    
          <string>NEW MEXICO </string>
    
    
          <string>NEW YORK </string>
    
    
          <string>NORTH CAROLINA </string>
    
    
          <string>NORTH DAKOTA </string>
    
    
          <string>OHIO </string>
    
    
          <string>OKLAHOMA </string>
    
    
          <string>OREGON </string>
    
    
          <string>PENNSYLVANIA</string>
    
    
          <string>RHODE ISLAND </string>
    
    
          <string>SOUTH CAROLINA </string>
    
    
          <string>SOUTH DAKOTA </string>
    
    
          <string>TENNESSEE </string>
    
    
          <string>TEXAS </string>
    
    
          <string>UTAH </string>
    
    
          <string>VERMONT </string>
    
    
          <string>VIRGINIA </string>
    
    
          <string>WASHINGTON </string>
    
    
          <string>WEST VIRGINIA </string>
    
    
          <string>WISCONSIN </string>
    
    
          <string>WYOMING</string>
    
</array>
</plist>
